.cover {
    width: 184px;
    height: 280px;
}

.bookCard {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 8px;
    width: 190px;
}

.bookCard:hover {
    background-color: snow;
    cursor: pointer;
}

.title, .author {
    text-align: center;
}

.author {
    padding: 8px;
}

.title {
    font-weight: 600;
    font-size: large;
}