.nav {
    display: flex;
    background-color: black;
}

.nav a,
.logout {
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: linear 0.2s;
}

.logout {
    background-color: black;
    border: none;
    font-size: inherit;
}

.nav a:hover,
.logout:hover {
    color: lightpink;
}

.logout:hover {
    cursor: pointer;
}

.divider {
    margin-left: auto;
}