.nav {
    display: flex;
    background-color: black;
}

.nav a {
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    transition: linear 0.2s;
}

.nav a:hover {
    color:lightpink;
}

.divider {
    margin-left: auto;
}